.ct-breadcrumbs {
	--listIndent: 0;
	--listItemSpacing: 0;
	--listStyleType: none;
	--contentSpacing: 0;

	display: inline-flex;
	flex-wrap: wrap;
	color: var(--color);

	li {
		display: flex;
		align-items: center;

		.separator {
			opacity: 0.5;
			margin: 0 8px;
		}
	}

	.first-item {
		a {
			display: flex;
			align-items: center;
		}

		svg + span {
			display: none;
		}
	}

	svg {
		fill: currentColor;
	}
}